
        body {
            font-family: Arial, sans-serif;
            background-color: aliceblue;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        h2 {
            color: #ff5733;
        }

        p {
            color: #333;
        }

        #searchInput {
            padding: 10px;
            width: 200px;
            border: 2px solid #ff5733;
            border-radius: 5px;
            font-size: 16px;
        }

        #searchButton, #newHeroButton {
            padding: 10px 20px;
            background-color: #ff5733;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-left: 10px;
            font-size: 16px;
        }

        #searchButton:hover, #newHeroButton:hover {
            background-color: #ff3a0f;
        }

        #heroImage {
            margin-top: 20px;
        }

        #heroImage img {
            max-width: 100%;
            height: auto;
        }
